<% if (!user) { 
  var name='Guest';
} else {
  var name=user.username;
} %>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Welcome <%= name %></span>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if (!user) { %>
              <li><button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#login-modal">Login</a></li>
              <li><a href="/register" class="btn btn-default btn-lg" id="register">Register</a></li>
            <% } else { %>
              <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>
