<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1><%= adventure.name %></h1>
        <p class="pitch"><%= adventure.description %></p>
        <a href='/adventure/<%= adventure._id %>/0'>Begin!</a>
      </div>
    </main>
    <div id="background">
      <div id="fuzz"></div>
    </div>
  </body>
</html>
