<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>
  </head>
  <body class="container">
    <h1><%= error.message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></h2>
  </body>
</html>
