<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ./partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <div id="title">
                <h1><span>Pick My Art</span>
                    <span>Adventure</span></h1>
                <p class="pitch">Engage yourself at the Philadelphia Museum of art in fun, easy, and exciting new ways through self-guided adventures curated by museum staff to explore various subjects in the collection, user-curated tours of the collections, and visitor-generated conversations.</p>
            </div>
        <div id="curated">
          <% for(var i=0; i<adventures.length; i++) { %>
            <div class="adv">
              <img src="/img/philly.png" alt="Philadelphia Adventure">
              <a href='/adventure/<%= adventures[i]._id %>/details'><%= adventures[i].name %></a>
            </div>
          <% }; %>
          <div class="adv">
              <img src="/img/warhol.png" alt="Warhol Adventure">
          </div>
          <div class="adv">
              <img src="/img/patrick.png" alt="St. Patrick's Adventure">
          </div>
          <div class="adv">
              <img src="/img/create.png" alt="Create Your Own Adventure">
          </div>
          <div class="adv">
              <img src="/img/create.png" alt="Create Your Own Adventure">
              <a href='/adventure/new'>Create Your Own Adventure</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
        <img src="/img/hackathon.png" height="100" width="100" alt="Power of Art Hackathon logo">
        <p>Built by Kara, Amy, Aaron and John for the Power of Art Hackathon at the Philadelphia Museum of Art.</p>
    </footer>
    <div id="background">
      <div id="fuzz"></div>
      <div id="mosaic"></div> 
    </div>
  </body>
</html>
